/* Fonts */
@font-face {
    font-family: 'robotocondensed';
    src: url('../font/robotocondensed/robotocondensed-regular-webfont.eot');
    src: url('../font/robotocondensed/robotocondensed-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../font/robotocondensed/robotocondensed-regular-webfont.woff2') format('woff2'),
    url('../font/robotocondensed/robotocondensed-regular-webfont.woff') format('woff'),
    url('../font/robotocondensed/robotocondensed-regular-webfont.ttf') format('truetype'),
    url('../font/robotocondensed/robotocondensed-regular-webfont.svg#roboto_condensedregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* General */
body {
    margin: 0;
    padding: 0;
    display: flex;
    background: linear-gradient(to left, #00f260, #0575e6);
}

body, body * {
    font-family: robotocondensed;
}

.container {
    margin-right: auto;
    margin-left: auto;
    position: relative;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.row > * {
    box-sizing: border-box;
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
}

.column {
    flex: 1 0 0%;
    text-align: center;
}

h1, p {
    color: white;

}

@media (max-width: 1024px) {
    .column {
        flex: 1 0 auto;
    }
}