figure {
    box-shadow: 1pt 1pt 2pt black;
    border-radius: 5pt;
    padding: 10pt;
    margin: 5pt;
    height: 250pt;
    max-width: 250pt;
    display: inline-block;
    background: white;
}

figure span {
    display: block;
    font-size: 1.5rem;
    padding: 5pt 0;
    background-color: black;
    color: white;
}

figure div {
    height: 75%;
    width: 100%;
    overflow: hidden;
}

figure img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    cursor: pointer;
}

figure figcaption {
    font-size: 0.7rem;
    margin-bottom: 5pt;
}